.expense-filter{
    background: #000000b2;
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: sans-serif;
    border-radius: 20px;
    margin-bottom: 20px;
}
.expense-filter .label-name{
  color: white;
  font-size: 18px;

}
.options{
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 17px;
}